body {
    background-image: url("../assets/pattern.png");
    background-repeat: repeat;
    font-family: Arial;
    font-weight: normal;
    margin: auto;
    box-sizing: border-box;
}

#content {
    box-sizing: border-box;
    margin: auto;
    width: 100%;
    text-align: center;
    padding: 1em 2.5em;
    font-family: 'Source Sans Pro', sans-serif;
}

#response {
    padding: 0 2.5em;
}

.alert {
    margin: 1em auto auto auto;
    display: block;
    box-sizing: content-box;
    text-align: center;
    background-color: white;
    border: 1px solid #ccc!important;
    border-radius: 8px;
    max-width: 29em;
    padding: 0.5em;
}

.alert-danger {
    background-color: #ef6868f5;
}

.alert-success {
    background-color: #84cf7df5;
}

.alert-info {
    background-color: #68adeff5;
}

.page {
    width: 30em;
    max-width: 100%;
    min-width: 80%;
    box-sizing: border-box;
    margin: auto;
    padding: 2em;
    text-align: center;
    background-color: white;
    border: 1px solid #ccc!important;
    border-radius: 8px;
}

h1, h2, p {
    text-align: left;
    margin: auto;
}

p {
    padding: 0.5em 0;
}

.show {
    display: flex !important;
}

.hide {
    display: none !important;
}

.nav-logo {
    height: 100%;
    box-sizing: border-box;
    margin: auto;
    display: flex;
    justify-content: center;
    width: 10%;
}

.navbar {
    width: 100%;
    height: 3em;
    top: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    background-color: #fb020f;
    border-bottom: 1px solid #490711!important;
    overflow: hidden;
}

.navbar-items {
    list-style-type: none;
    margin: auto;
    padding: 0;
    height: 100%;
    width: 100%;
    box-sizing: inherit;
    display: flex;
    justify-content: left;
}

.nav-item {
    height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
    box-sizing: inherit;
    display: flex;
    justify-content: left;
}

.nav_a {
    color: inherit;
    text-decoration: inherit;
    box-sizing: inherit;
    font-size: 1.25em;
    margin: auto;
    display: flex;
    padding: 0 0.5em;
}
.navbar-brand:hover, .nav-item:hover {
    background-color: #490711;
    color: white;
}

form {
    max-width: 60em;
    margin: auto;
    font-size: 1em;
}

hr {
    margin: 1em;
}

.form-group {
    max-width: 25em;
    display: inline-block;
    box-sizing: border-box;
    margin: auto;
    padding: 0.5em;
    font-size: 1em;
    text-align: left;
}

.form-group2 {
    max-width: 25em;
    display: block;
    box-sizing: border-box;
    margin: auto;
    padding: 0.5em;
    font-size: 1em;
}

.form-button {
    color: black;
    padding: 0.5em 1em;
    border: none;
    cursor: pointer;
    background-color: #fb020f;
    border-radius: 4px;
    min-width: 5em;
    font-size: 1em;
    border-bottom: 1px solid #490711!important;
}

label {
    display: block;
}

input {
    border-radius: 4px;
    border: none;
    background-color: #efefef;
}

.form-control {
    max-width: 100%;
    padding: 0.75em 1.25em;
    margin: 4px 0;
    box-sizing: border-box;
    font-size: 1em;
}

input:read-only {
    background-color: lightgrey;
}

.module {
    margin: auto;
    display: block;
}

.ticket {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

.returned {
    background-color: lightgrey;
}
